@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');




.text-gradient {
  font-size: 4rem;
  display: inline-block;
  background: linear-gradient(9deg, #ffde65, #ff8484 50%,#ff86c3 60%, #716fff 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* テキストの色を白にする（必要に応じて） */
header, footer {
  color: white;
}

.video-container {
  width: 80vw;   /* viewportの80% */
  height: 80%;  /* viewportの80% */
  position: relative;
}
